---
import { getCollection } from 'astro:content';
import Icon from '$components/Icon.svelte';
import { Markdown } from 'astro-remote';

const classes = (await getCollection('classes')).sort((a, b) =>
  a.data.title.localeCompare(b.data.title),
);

console.log(classes[0].data.feats);
---

<ul role="list">
  {
    classes.map((a) => (
      <li class="lineage">
        <header>
          <h2 class="title type--h2">{a.data.title}</h2>
          <footer>
            {a.data.proficiencies.weapons && (
              <p>Proficient with {a.data.proficiencies.weapons}</p>
            )}
            {a.data.proficiencies.armor && (
              <p>Proficient with {a.data.proficiencies.armor}</p>
            )}
            <p>{a.data.hp} HP</p>
          </footer>
        </header>
        <div class="type" set:html={a.rendered.html} />
        <section>
          <ul role="list">
            {a.data.feats.map((t) => (
              <li>
                <h3 class="type--h3 feat--title">
                  <span>{t.title}</span>

                  {(t.core || t.spellcasting || t.rare) && (
                    <span class="icons">
                      {t.core && <Icon label="Core Feat" icon="diamond" />}
                      {t.spellcasting && (
                        <Icon label="Spellcasting Feat" icon="wand" />
                      )}
                      {t.rare && (
                        <span class="rare">
                          <Icon label="Rare Feat" icon="flare" />
                        </span>
                      )}
                    </span>
                  )}
                </h3>

                <div class="type">
                  <Markdown content={t.description} />
                </div>
              </li>
            ))}
          </ul>
        </section>
      </li>
    ))
  }
</ul>

<style lang="scss">
  li,
  ul {
    display: grid;
    gap: 1rem;
  }

  ul:has(ul) {
    gap: 2rem;
  }

  .type {
    width: 100%;
  }

  .lineage {
    // border: 1px solid var(--dark-yellow) !important;
    // padding: 0.5rem;
    // background: var(--white);
  }

  .feat {
    &--title {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      align-items: center;

      :global(svg) {
        height: 0.75em;
        width: 0.75em;
      }
    }
  }

  .icons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    align-items: center;
  }

  .rare {
    fill: var(--dark-red);
  }
</style>
