---
import { getCollection } from 'astro:content';
import { Markdown } from 'astro-remote';

const lineage = (await getCollection('lineage')).sort((a, b) =>
  a.data.title.localeCompare(b.data.title),
);
---

<ul role="list">
  {
    lineage.map((a) => (
      <li class="lineage">
        <header>
          <h3 class="title type--h3">{a.data.title}</h3>
          <p>
            <strong>Size:</strong> {a.data.size.join(', ')}
          </p>
        </header>
        <div class="type" set:html={a.rendered.html} />
        <section>
          <ul role="list">
            {a.data.traits.map((t) => (
              <li>
                <h4 class="type--h4">{t.title}</h4>
                <p>
                  <strong>Points:</strong> {t.points}
                </p>
                <div class="type">
                  <Markdown content={t.description} />
                </div>
              </li>
            ))}
          </ul>
        </section>
      </li>
    ))
  }
</ul>

<style>
  li,
  ul {
    display: grid;
    gap: 1rem;
  }

  ul:has(ul) {
    gap: 2rem;
  }

  .type {
    width: 100%;
  }

  .lineage {
    border: 1px solid var(--dark-yellow) !important;
    padding: 0.5rem;
    background: var(--white);
  }
</style>
