---
import Layout from '$layouts/Layout.astro';
import type { GetStaticPaths } from 'astro';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import { calculatePoints } from '$lib/astro/monsters';
import Icon from '$components/Icon.svelte';

// Monster Svelte components
import Header from '$components/monsters/Header.svelte';
import CriticalStats from '$components/monsters/CriticalStats.svelte';
import Defenses from '$components/monsters/Defenses.svelte';
import Weapons from '$components/monsters/Weapons.svelte';
import Actions from '$components/monsters/Actions.svelte';
import Abilities from '$components/monsters/Abilities.svelte';
import Spellcasting from '$components/monsters/Spellcasting.svelte';
import Traits from '$components/monsters/Traits.svelte';
import MonsterTags from '$components/monsters/MonsterTags.svelte';

export const getStaticPaths = (async () => {
  return await Promise.all(
    (await getCollection('monsters')).map(async (monster) => {
      const { Content } = await monster.render();
      let image;

      if (monster.data.image) {
        const { default: fi } = await import(
          /* @vite-ignore */ `../../${monster.data.image}`
        );
        image = fi;
      }
      return {
        params: {
          slug: monster.slug,
        },
        props: {
          meta: monster.data,
          image,
          Content,
        },
      };
    }),
  );
}) satisfies GetStaticPaths;

const { meta, Content, image } = Astro.props;

const m = calculatePoints(meta);
---

<Layout>
  <div id="content" class="monster">
    <Header monster={meta} {m} />

    <div class="primary">
      {
        image && (
          <>
            <button
              class="image"
              commandfor="monster-image-preview"
              command="show-modal"
            >
              <Image src={image} layout="constrained" alt={meta.title} />
            </button>

            <dialog id="monster-image-preview" class="image-preview">
              <div class="inner">
                <a
                  class="dialog-image-link"
                  href={image.src}
                  target="_blank"
                  rel="noopener"
                >
                  <Image src={image} layout="constrained" alt={meta.title} />
                </a>
                <button
                  class="close-btn"
                  commandfor="monster-image-preview"
                  command="close"
                >
                  <Icon icon="close" label="close" />
                </button>
              </div>
            </dialog>
          </>
        )
      }

      <CriticalStats monster={meta} {m} />
      <Defenses monster={meta} {m} />

      <div class="desc type"><Content /></div>
    </div>

    <div class="secondary">
      <Weapons monster={meta} {m} />
      <Actions monster={meta} {m} />
      <Abilities monster={meta} {m} />
      <Spellcasting monster={meta} {m} />
      <Traits monster={meta} {m} />
    </div>

    <MonsterTags monster={meta} {m} />
  </div>

  <style lang="scss">
    .monster {
      --gold: #afa47a;
      display: grid;
      gap: 0.5rem;
      grid-template-columns: 1fr 1fr;
      background: var(--parchment);
      outline: 1px solid var(--gold);
      border-radius: 5px;
      border: 2px double var(--gold);
      box-shadow: 0 0 0.5rem rgba(black, 0.5);
      padding: 0.5rem;
      width: 100%;
      container-type: inline-size;

      :global(header) {
        grid-column: 1 / -1;
      }
    }

    .image {
      border: 5px double var(--gold);
      border-radius: 5px;
      padding: 0;

      :global(img) {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .image-preview {
      max-height: 80vh;
      max-width: 80vw;
      margin-inline: auto;
      margin-block: auto;
      position: fixed;
      border: none;
      background: transparent;
      padding: 0;
      overflow: visible;

      &::backdrop {
        background: rgba(0, 0, 0, 0.8);
      }

      .inner {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        max-width: 100%;
        max-height: 100%;

        .dialog-image-link {
          display: block;
          cursor: zoom-in;
        }

        :global(img) {
          max-width: 100%;
          height: auto;
          max-height: calc(80vh - 4rem);
          object-fit: contain;
          border: 1px solid black;
          box-shadow: 0px 0px 5px 2.5px rgba(0, 0, 0, 0.5);
          width: min-content;
        }
      }

      .close-btn {
        position: absolute;
        top: -0.75rem;
        right: -0.75rem;
        width: 1.5rem;
        height: 1.5rem;
        padding: 0.25rem;
        border-radius: 100%;
        background: var(--light-grey);
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 10;

        :global(.icon) {
          height: 1.5rem;
          width: 1.5rem;
          fill: currentColor;
        }
      }
    }

    .primary {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 1rem;

      &:has(.image) {
        grid-template-columns: 150px 1fr 2fr;

        @container (max-width: 600px) {
          grid-template-columns: 150px 1fr;
        }
      }
    }

    .secondary {
      grid-column: 1 / -1;
      display: grid;
      gap: 1rem;
    }

    .type {
      margin-inline: 0;
      max-width: unset;
    }

    .desc {
      grid-column: 1 / -1;

      &:empty {
        display: none;
      }
    }
  </style>
</Layout>
