---
import { getCollection } from 'astro:content';
const cantrips = await Promise.all(
  (await getCollection('cantrips')).sort((a, b) =>
    a.data.title.localeCompare(b.data.title),
  ),
);
---

<div class="filter">
  <select name="spell-list" id="spell-list">
    <option value="all">All</option>
    <option value="arcane">Arcane</option>
    <option value="primal">Primal</option>
    <option value="divine">Divine</option>
    <option value="psionic">Psionic</option>
  </select>
</div>

{
  cantrips.map((c) => (
    <section id={c.slug} class="cantrips" data-list={c.data.list.join(', ')}>
      <h3>{c.data.title}</h3>
      <div class="tags">
        {c.data.list.map((l) => (
          <div class="tag">{l}</div>
        ))}
      </div>
      {(c.data.save || c.data.type) && (
        <table>
          <tbody>
            {c.data.save && (
              <tr>
                <td>Saving Throw</td>
                <td class="save">+{c.data.save}</td>
              </tr>
            )}
            {c.data.type && (
              <tr>
                <td>Damage Type</td>
                <td>{c.data.type}</td>
              </tr>
            )}
          </tbody>
        </table>
      )}
      <div class="type" set:html={c.rendered.html} />
      <p>
        <strong>Upcast: </strong> {c.data.upcast}
      </p>
    </section>
  ))
}

<script type="module">
  const select = document.getElementById('spell-list');
  const cantrips = document.querySelectorAll('.cantrips');

  select.addEventListener('change', (e) => {
    const { value } = e.target;
    if (value === 'all') {
      for (const cantrip of cantrips) {
        cantrip.style.display = 'grid';
      }
    } else {
      for (const cantrip of cantrips) {
        const list = cantrip.dataset.list.split(', ');
        if (list.includes(value)) {
          cantrip.style.display = 'grid';
        } else {
          cantrip.style.display = 'none';
        }
      }
    }
  });
</script>

<style lang="scss">
  section {
    display: grid;
    gap: 1rem;
  }

  h3,
  h4 {
    margin-block-end: 0;
  }

  .type {
    width: 100%;
  }

  td {
    text-transform: capitalize;

    :global(button) {
      text-transform: capitalize;
    }
  }

  .save {
    text-transform: uppercase;

    :global(button) {
      text-transform: uppercase;
    }
  }

  .tags {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .filter {
    display: flex;
    justify-content: flex-end;
  }

  #spell-list {
    width: 15ch;
    border: 1px solid var(--dark-yellow);
    border-radius: 0.25rem;
  }
</style>
