---
import Layout from '$layouts/Layout.astro';
import ChapterNav from '$components/ChapterNav.svelte';
import ChapterSidebar from '$components/ChapterSidebar.svelte';
import { chapterTitle } from '$lib/helpers';
import { chapters, Chapter } from '$lib/chapters';

export type props = {
  chapter: Chapter;
};

const { chapter } = Astro.props;

const next = chapters.find((f) => f.chapter === chapter.chapter + 1) || null;
const previous =
  chapters.find((f) => f.chapter === chapter.chapter - 1) || null;
---

<Layout title={chapter.title}>
  <div class="chapter">
    <aside class="chapter--major-nav">
      <ChapterNav next={next} previous={previous} />
    </aside>
    <aside class="chapter--subnav">
      <div class="sidebar">
        <ChapterSidebar
          title={chapter.title}
          chapter={chapter.chapter}
          headings={chapter.headings}
          slug={chapter.slug}
        />
      </div>
    </aside>

    <article class="chapter--content">
      <div class="type">
        <h1 id={chapter.slug}>
          {chapterTitle(chapter.chapter, chapter.title)}
        </h1>
        <slot name="content" />
      </div>
    </article>
  </div>
</Layout>

<style lang="scss">
  .chapter {
    container-type: inline-size;
    display: grid;
    width: 100%;
    max-width: 70ch;
    margin-inline: auto;
    gap: 1rem;
    row-gap: 1rem;

    &--major-nav {
      position: sticky;
      top: calc(var(--header-height) + 1rem);
    }

    @media (min-width: 836px) {
      max-width: calc(250px + 2rem + 70ch);
      grid-template-columns: 250px auto;

      &--major-nav {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
      }

      &--subnav {
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
      }
      &--content {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
      }
    }
  }

  .sidebar {
    @media (min-width: 836px) {
      position: sticky;
      top: calc(var(--header-height) + 1rem);
    }
  }

  :global(:target) {
    scroll-margin-block-start: calc(var(--header-height) + 4rem + 2px);
  }
</style>
